//- A mixin that will create a checkbox for use in controlling the display of extra information on an item. Takes an optional name property to override the name of the checkbox.
mixin collapse(name='collapse')
  +checkbox({name,value:1,class:'collapse'})
//- End Mixin