.tabs__container:not(.k-active-tab) {
  display: none !important;
}

html {
  --size1:3rem;
  --size2:2.5rem;
  --size3:2rem;
  --size4:1.5rem;
  --size5:1.25rem;
  --size6:1rem;
  --size7:0.875rem;
  --normal-gap-x:1rem;
  --normal-gap-y:1rem;
  --normal-gap: var(--normal-gap-x);
  --half-gap-x:calc(var(--normal-gap-x) / 2);
  --half-gap-y:calc(var(--normal-gap-y) / 2);
  --half-gap: var(--half-gap-x);
  --tiny-gap-x:calc(var(--half-gap-x) / 2);
  --tiny-gap-y:calc(var(--half-gap-y) / 2);
  --tiny-gap: var(--tiny-gap-x);
  --big-gap-x:calc(var(--normal-gap-x) * 2);
  --big-gap-y:calc(var(--normal-gap-y) * 2);
  --big-gap: var(--big-gap-x);
  --lm-backColor:#fff;
  --dm-backColor:var(--dark-surface1);
  --backColor:var(--lm-backColor);
  --lm-selectedColor:#000;
  --dm-selectedColor:#007476;
  --selectedColor:var(--lm-selectedColor);
  --lm-unselectedColor1:lightgrey;
  --dm-unselectedColor1:#0e0e0e;
  --unselectedColor1:var(--lm-unselectedColor1);
  --lm-unselectedColor2:transparent;
  --dm-unselectedColor2:transparent;
  --unselectedColor1:var(--lm-unselectedColor2);
  --lm-checkColor:#000;
  --dm-checkColor:#ff0000;
  --checkColor:var(--lm-checkColor);
  --lm-borderColor:#000;
  --dm-borderColor:lightgrey;
  --borderColor:var(--lm-borderColor);
  --lm-fontColor:#0f0f0f;
  --dm-fontColor:var(--dark-primarytext);
  --fontColor:var(--lm-fontColor);
  --lm-disabledColor:var(--lm-unselectedColor1);
  --dm-disabledColor:var(--dm-unselectedColor1);
  --disabledColor:var(--lm-disabledColor);
  --revealTime:500ms;
  --revealFunction: ease-in-out;
  --revealTrans: var(--revealTime) var(--revealFunction);
}

.ui-dialog .tab-content .charsheet select,
.ui-dialog .tab-content .charsheet textarea,
.ui-dialog .tab-content .charsheet input,
.ui-dialog .tab-content .charsheet .uneditable-input,
.ui-dialog .tab-content .charsheet label,
.ui-dialog .tab-content .charsheet button {
  all: initial;
}
.ui-dialog .tab-content .charsheet .flex-box,
.ui-dialog .tab-content .charsheet .sheet-flex-box {
  display: flex;
}
.ui-dialog .tab-content .charsheet .flex-wrap,
.ui-dialog .tab-content .charsheet .sheet-flex-wrap {
  flex-wrap: wrap;
}
.ui-dialog .tab-content .charsheet .justify-space-around,
.ui-dialog .tab-content .charsheet .sheet-justify-space-around {
  justify-content: space-around;
}
.ui-dialog .tab-content .charsheet .justify-space-between,
.ui-dialog .tab-content .charsheet .sheet-justify-space-between {
  justify-content: space-between;
}
.ui-dialog .tab-content .charsheet .justify-center,
.ui-dialog .tab-content .charsheet .sheet-justify-center {
  justify-content: center;
}
.ui-dialog .tab-content .charsheet .flex-min-content,
.ui-dialog .tab-content .charsheet .sheet-flex-min-content {
  flex: 1 0 min-content;
}
.ui-dialog .tab-content .charsheet .stacked {
  flex-direction: column;
}
.ui-dialog .tab-content .charsheet .stacked.center > * {
  text-align: center;
}
.ui-dialog .tab-content .charsheet .stacked:not(.center) {
  align-items: start;
}
.ui-dialog .tab-content .charsheet .stacked > [name]:not([type=number]):not([type=checkbox]):not([type=radio]) {
  width: 100%;
}
.ui-dialog .tab-content .charsheet .flex-column,
.ui-dialog .tab-content .charsheet .sheet-flex-column {
  flex-direction: column;
}
.ui-dialog .tab-content .charsheet .flex-row-reverse,
.ui-dialog .tab-content .charsheet .sheet-flex-row-revers {
  flex-direction: row-reverse;
}
.ui-dialog .tab-content .charsheet .flex-column-reverse,
.ui-dialog .tab-content .charsheet .sheet-flex-column-reverse {
  flex-direction: column-reverse;
}
.ui-dialog .tab-content .charsheet .normal-gap,
.ui-dialog .tab-content .charsheet .sheet-normal-gap {
  gap: var(--normal-gap);
}
.ui-dialog .tab-content .charsheet .normal-gap-x,
.ui-dialog .tab-content .charsheet .sheet-normal-gap-x {
  column-gap: var(--normal-gap-x);
}
.ui-dialog .tab-content .charsheet .normal-gap-y,
.ui-dialog .tab-content .charsheet .sheet-normal-gap-y {
  row-gap: var(--normal-gap-y);
}
.ui-dialog .tab-content .charsheet .half-gap,
.ui-dialog .tab-content .charsheet .sheet-half-gap {
  gap: var(--half-gap);
}
.ui-dialog .tab-content .charsheet .half-gap-x,
.ui-dialog .tab-content .charsheet .sheet-half-gap-x {
  column-gap: var(--half-gap-x);
}
.ui-dialog .tab-content .charsheet .half-gap-y,
.ui-dialog .tab-content .charsheet .sheet-half-gap-y {
  row-gap: var(--half-gap-y);
}
.ui-dialog .tab-content .charsheet .tiny-gap,
.ui-dialog .tab-content .charsheet .sheet-tiny-gap {
  gap: var(--tiny-gap);
}
.ui-dialog .tab-content .charsheet .tiny-gap-x,
.ui-dialog .tab-content .charsheet .sheet-tiny-gap-x {
  column-gap: var(--tiny-gap-x);
}
.ui-dialog .tab-content .charsheet .tiny-gap-y,
.ui-dialog .tab-content .charsheet .sheet-tiny-gap-y {
  row-gap: var(--tiny-gap-y);
}
.ui-dialog .tab-content .charsheet .big-gap,
.ui-dialog .tab-content .charsheet .sheet-big-gap {
  gap: var(--big-gap);
}
.ui-dialog .tab-content .charsheet .big-gap-x,
.ui-dialog .tab-content .charsheet .sheet-big-gap-x {
  column-gap: var(--big-gap-x);
}
.ui-dialog .tab-content .charsheet .big-gap-y,
.ui-dialog .tab-content .charsheet .sheet-big-gap-y {
  row-gap: var(--big-gap-y);
}
.ui-dialog .tab-content .charsheet .grid,
.ui-dialog .tab-content .charsheet .sheet-grid {
  display: grid;
}
.ui-dialog .tab-content .charsheet .grid-span-2,
.ui-dialog .tab-content .charsheet .sheet-grid-span-2 {
  grid-column: span 2;
}
.ui-dialog .tab-content .charsheet .grid-span-all,
.ui-dialog .tab-content .charsheet .sheet-grid-span-all {
  grid-column: 1/-1;
}
.ui-dialog .tab-content .charsheet .grid-column,
.ui-dialog .tab-content .charsheet .sheet-grid-column {
  grid-auto-flow: column;
}
.ui-dialog .tab-content .charsheet .grid-dense,
.ui-dialog .tab-content .charsheet .sheet-grid-dense {
  grid-auto-flow: dense;
}
.ui-dialog .tab-content .charsheet .boxed,
.ui-dialog .tab-content .charsheet .sheet-boxed {
  border: 2px solid var(--borderColor);
  border-radius: 0;
  box-sizing: border-box;
}
.ui-dialog .tab-content .charsheet .boxed.thick-left,
.ui-dialog .tab-content .charsheet .sheet-boxed.thick-left {
  border-left-width: 5px;
}
.ui-dialog .tab-content .charsheet .boxed.thick-bottom,
.ui-dialog .tab-content .charsheet .sheet-boxed.thick-bottom {
  border-bottom-width: 5px;
}
.ui-dialog .tab-content .charsheet .boxed.thick-right,
.ui-dialog .tab-content .charsheet .sheet-boxed.thick-right {
  border-right-width: 5px;
}
.ui-dialog .tab-content .charsheet .boxed.thick-top,
.ui-dialog .tab-content .charsheet .sheet-boxed.thick-top {
  border-top-width: 5px;
}
.ui-dialog .tab-content .charsheet .underlined,
.ui-dialog .tab-content .charsheet .sheet-underlined {
  border-width: 1px 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 0;
  border-bottom: 1px solid var(--borderColor);
  transition: border-radius border var(--revealTrans);
}
.ui-dialog .tab-content .charsheet :is(.underlined, .boxed):not([readonly]):not([type=checkbox]):not([type=radio]):is(:hover, :focus, :focus-within) {
  border-width: 1px 3px;
  border-style: solid;
  border-color: var(--borderColor);
  border-radius: 5px;
  box-sizing: border-box;
}
.ui-dialog .tab-content .charsheet :is(.underlined, .boxed):not([readonly]):not([type=checkbox]):not([type=radio]):is(:focus, :focus-within) {
  background-color: var(--disabledColor);
}
.ui-dialog .tab-content .charsheet .underlined--invisible {
  border-color: transparent !important;
}
.ui-dialog .tab-content .charsheet .ratio1-1,
.ui-dialog .tab-content .charsheet .sheet-ratio1-1 {
  aspect-ratio: 1/1;
}
.ui-dialog .tab-content .charsheet span,
.ui-dialog .tab-content .charsheet input,
.ui-dialog .tab-content .charsheet textarea {
  font-size: var(--size6);
  color: var(--fontColor);
  line-height: normal;
}
.ui-dialog .tab-content .charsheet span[name], .ui-dialog .tab-content .charsheet input, .ui-dialog .tab-content .charsheet textarea, .ui-dialog .tab-content .charsheet button, .ui-dialog .tab-content .charsheet select {
  font-family: var(--contentFont);
}
.ui-dialog .tab-content .charsheet .big-text {
  font-size: var(--size4);
}
.ui-dialog .tab-content .charsheet .tiny-text {
  font-size: var(--size7);
}
.ui-dialog .tab-content .charsheet .uppercase {
  text-transform: uppercase !important;
}
.ui-dialog .tab-content .charsheet .sheet-material-icons,
.ui-dialog .tab-content .charsheet .material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
.ui-dialog .tab-content .charsheet .sheet-italics,
.ui-dialog .tab-content .charsheet .italics {
  font-style: italic;
}
.ui-dialog .tab-content .charsheet h1,
.ui-dialog .tab-content .charsheet *[aria-level="1"] {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--size1);
  font-family: var(--topHeaderFont);
}
.ui-dialog .tab-content .charsheet h1:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="1"]:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h1 *,
.ui-dialog .tab-content .charsheet *[aria-level="1"] * {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--size1);
  font-family: var(--topHeaderFont);
}
.ui-dialog .tab-content .charsheet h1 *:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="1"] *:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h2, .ui-dialog .tab-content .charsheet .input-label:not(.stacked).large > [name],
.ui-dialog .tab-content .charsheet *[aria-level="2"] {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--size2);
  font-family: var(--topHeaderFont);
}
.ui-dialog .tab-content .charsheet h2:not(input), .ui-dialog .tab-content .charsheet .input-label:not(.stacked).large > [name]:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="2"]:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h2 *, .ui-dialog .tab-content .charsheet .input-label:not(.stacked).large > [name] *,
.ui-dialog .tab-content .charsheet *[aria-level="2"] * {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--size2);
  font-family: var(--topHeaderFont);
}
.ui-dialog .tab-content .charsheet h2 *:not(input), .ui-dialog .tab-content .charsheet .input-label:not(.stacked).large > [name] *:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="2"] *:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h3,
.ui-dialog .tab-content .charsheet *[aria-level="3"] {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--size3);
  font-family: var(--topHeaderFont);
}
.ui-dialog .tab-content .charsheet h3:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="3"]:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h3 *,
.ui-dialog .tab-content .charsheet *[aria-level="3"] * {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--size3);
  font-family: var(--topHeaderFont);
}
.ui-dialog .tab-content .charsheet h3 *:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="3"] *:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h4,
.ui-dialog .tab-content .charsheet *[aria-level="4"] {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: var(--size4);
  font-family: var(--midHeaderFont);
}
.ui-dialog .tab-content .charsheet h4:not(:where(input)),
.ui-dialog .tab-content .charsheet *[aria-level="4"]:not(:where(input)) {
  text-transform: capitalize;
}
.ui-dialog .tab-content .charsheet h4:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="4"]:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h4 *,
.ui-dialog .tab-content .charsheet *[aria-level="4"] * {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: var(--size4);
  font-family: var(--midHeaderFont);
}
.ui-dialog .tab-content .charsheet h4 *:not(:where(input)),
.ui-dialog .tab-content .charsheet *[aria-level="4"] *:not(:where(input)) {
  text-transform: capitalize;
}
.ui-dialog .tab-content .charsheet h4 *:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="4"] *:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h5,
.ui-dialog .tab-content .charsheet *[aria-level="5"] {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: var(--size5);
  font-style: normal;
  font-family: var(--midHeaderFont);
}
.ui-dialog .tab-content .charsheet h5:not(:where(input)),
.ui-dialog .tab-content .charsheet *[aria-level="5"]:not(:where(input)) {
  text-transform: capitalize;
}
.ui-dialog .tab-content .charsheet h5:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="5"]:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet h5 *,
.ui-dialog .tab-content .charsheet *[aria-level="5"] * {
  line-height: normal;
  color: var(--fontColor);
  display: block;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: var(--size5);
  font-style: normal;
  font-family: var(--midHeaderFont);
}
.ui-dialog .tab-content .charsheet h5 *:not(:where(input)),
.ui-dialog .tab-content .charsheet *[aria-level="5"] *:not(:where(input)) {
  text-transform: capitalize;
}
.ui-dialog .tab-content .charsheet h5 *:not(input),
.ui-dialog .tab-content .charsheet *[aria-level="5"] *:not(input) {
  text-align: center;
}
.ui-dialog .tab-content .charsheet .sheet-pictos,
.ui-dialog .tab-content .charsheet .pictos {
  font-family: pictos;
  text-transform: none;
}
.ui-dialog .tab-content .charsheet .pictos3,
.ui-dialog .tab-content .charsheet .sheet-pictos3 {
  font-family: pictos three;
  text-transform: none;
}
.ui-dialog .tab-content .charsheet .pictoscustom,
.ui-dialog .tab-content .charsheet .sheet-pictoscustom {
  font-family: pictos custom;
  text-transform: none;
}
.ui-dialog .tab-content .charsheet .d4,
.ui-dialog .tab-content .charsheet .sheet-d4 {
  font-family: dicefontd4 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet .d6,
.ui-dialog .tab-content .charsheet .sheet-d6 {
  font-family: dicefontd6 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet .d8,
.ui-dialog .tab-content .charsheet .sheet-d8 {
  font-family: dicefontd8 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet .d10,
.ui-dialog .tab-content .charsheet .sheet-d10 {
  font-family: dicefontd10 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet .d12,
.ui-dialog .tab-content .charsheet .sheet-d12 {
  font-family: dicefontd12 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet .d20,
.ui-dialog .tab-content .charsheet .sheet-d20 {
  font-family: dicefontd20 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet .d30,
.ui-dialog .tab-content .charsheet .sheet-d30 {
  font-family: dicefontd30 !important;
  text-transform: none !important;
}
.ui-dialog .tab-content .charsheet input[type=checkbox] {
  border: 1px solid var(--borderColor);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
}
.ui-dialog .tab-content .charsheet input[type=checkbox]:not(.collapse):not(.fill-left__radio):checked:before {
  content: "✓";
  grid-area: content;
  font-weight: bold;
  place-self: start center;
  color: var(--checkColor);
  font-size: 1.5rem;
  line-height: 0.5rem;
}
.ui-dialog .tab-content .charsheet input[type=number] {
  width: 3rem;
  -moz-appearance: textfield !important;
  text-align: center;
}
.ui-dialog .tab-content .charsheet input[type=number]::-webkit-inner-spin-button, .ui-dialog .tab-content .charsheet input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ui-dialog .tab-content .charsheet select,
.ui-dialog .tab-content .charsheet .pseudo-select span,
.ui-dialog .tab-content .charsheet .sheet-pseudo-select span,
.ui-dialog .tab-content .charsheet textarea,
.ui-dialog .tab-content .charsheet input:not(:is([type=radio], [type=checkbox])),
.ui-dialog .tab-content .charsheet .uneditable-input {
  padding: 2px;
}
.ui-dialog .tab-content .charsheet input:is([type=text], [type=number]), .ui-dialog .tab-content .charsheet textarea {
  cursor: auto;
}
.ui-dialog .tab-content .charsheet select,
.ui-dialog .tab-content .charsheet .pseudo-select span,
.ui-dialog .tab-content .charsheet .sheet-pseudo-select span,
.ui-dialog .tab-content .charsheet input:not(:where([type=checkbox], [type=radio])),
.ui-dialog .tab-content .charsheet .uneditable-input,
.ui-dialog .tab-content .charsheet textarea {
  border-width: 1px 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  box-sizing: border-box;
}
.ui-dialog .tab-content .charsheet select,
.ui-dialog .tab-content .charsheet .sheet-pseudo-select span,
.ui-dialog .tab-content .charsheet .pseudo-select span {
  -webkit-apperance: none;
  appearance: none;
  text-transform: capitalize;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: var(--fontColor);
}
.ui-dialog .tab-content .charsheet input {
  width: auto;
}
.ui-dialog .tab-content .charsheet input:placeholder {
  color: rgba(237, 237, 237, 0.5019607843);
}
.ui-dialog .tab-content .charsheet input.plus-control:not([value*="-"]) + span:before {
  content: "+";
}
.ui-dialog .tab-content .charsheet textarea {
  resize: vertical;
  white-space: pre-wrap;
}
.ui-dialog .tab-content .charsheet textarea.fixed {
  resize: none;
  overflow: auto;
}
.ui-dialog .tab-content .charsheet button {
  cursor: pointer;
}
.ui-dialog .tab-content .charsheet .roller {
  display: flex;
  align-items: center;
  gap: var(--half-gap);
}
.ui-dialog .tab-content .charsheet .roller:before {
  content: "T";
  font-family: dicefontd20;
}
.ui-dialog .tab-content .charsheet .collapse-container {
  display: grid;
  position: relative;
}
.ui-dialog .tab-content .charsheet .text-collapse {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ui-dialog .tab-content .charsheet .text-collapse:before {
  content: "unfold_less";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
.ui-dialog .tab-content .charsheet .text-collapse__text {
  display: inline;
}
.ui-dialog .tab-content .charsheet .text-collapse__check:not(:checked) + .text-collapse {
  border-width: 1px 3px;
  border-style: solid;
  border-color: var(--borderColor);
  border-radius: 5px;
  box-sizing: border-box;
}
.ui-dialog .tab-content .charsheet .text-collapse__check:checked + .text-collapse:before {
  content: "unfold_more";
}
.ui-dialog .tab-content .charsheet .repitem:hover .collapse, .ui-dialog .tab-content .charsheet .repitem:hover .roll-container,
.ui-dialog .tab-content .charsheet .collapse-container:hover .collapse,
.ui-dialog .tab-content .charsheet .collapse-container:hover .roll-container {
  opacity: 1;
}
.ui-dialog .tab-content .charsheet .repitem .collapse,
.ui-dialog .tab-content .charsheet .collapse-container .collapse {
  opacity: 0;
  position: absolute;
  right: -10px;
  top: 0px;
  border: 0px solid black;
  border-radius: 0;
  color: var(--selectedColor);
  text-transform: none;
  background-color: transparent;
}
.ui-dialog .tab-content .charsheet .repitem .collapse:before,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:before {
  content: "y";
  font-family: pictos;
}
.ui-dialog .tab-content .charsheet .repitem .collapse:checked,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:checked {
  color: var(--unselectedColor1);
  background-color: transparent;
}
.ui-dialog .tab-content .charsheet .repitem .collapse:checked ~ .expanded,
.ui-dialog .tab-content .charsheet .repitem .collapse:checked ~ .collapse-container .expanded,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:checked ~ .expanded,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:checked ~ .collapse-container .expanded {
  display: none !important;
}
.ui-dialog .tab-content .charsheet .repitem .collapse:checked ~ .expanded--empty:is(:not([value]), [value=""]) + *,
.ui-dialog .tab-content .charsheet .repitem .collapse:checked ~ .collapse-container ~ .expanded--empty:is(:not([value]), [value=""]) + *,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:checked ~ .expanded--empty:is(:not([value]), [value=""]) + *,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:checked ~ .collapse-container ~ .expanded--empty:is(:not([value]), [value=""]) + * {
  display: none !important;
}
.ui-dialog .tab-content .charsheet .repitem .collapse:not(:checked) ~ .collapsed,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:not(:checked) ~ .collapsed {
  display: none !important;
}
.ui-dialog .tab-content .charsheet .repitem .collapse:hover,
.ui-dialog .tab-content .charsheet .collapse-container .collapse:hover {
  color: var(--selectedColor);
}
.ui-dialog .tab-content .charsheet .repcontainer.editmode .collapse {
  display: none;
}
.ui-dialog .tab-content .charsheet .fill-left {
  display: flex;
  align-self: center;
  box-sizing: border-box;
}
.ui-dialog .tab-content .charsheet .fill-left__radio {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--selectedColor);
  order: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.ui-dialog .tab-content .charsheet .fill-left__radio[data-value]:checked:before {
  content: attr(data-value);
  color: var(--backColor);
  font-size: 1rem;
  place-self: center;
  text-transform: uppercase;
}
.ui-dialog .tab-content .charsheet .fill-left__radio:checked ~ .fill-left__radio {
  background-color: var(--unselectedColor2);
  order: 3;
}
.ui-dialog .tab-content .charsheet .input-label {
  display: inline-flex;
  gap: var(--half-gap);
  align-items: center;
}
.ui-dialog .tab-content .charsheet .input-label:not(.stacked) > input[type=text] {
  flex: 1 1 0;
}
.ui-dialog .tab-content .charsheet .input-label:not(.stacked) > :not([name]) {
  flex: 0 0 auto;
}
.ui-dialog .tab-content .charsheet .input-label > :is(span, button) {
  text-transform: capitalize;
}
.ui-dialog .tab-content .charsheet .input-label--dual {
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "over 	over 	over" "under 	under 	under";
}
.ui-dialog .tab-content .charsheet .input-label--dual > span:last-of-type {
  grid-column: 1/-1;
}
.ui-dialog .tab-content .charsheet .input-label--dual > input:not([type=number]):not([type=checkbox]):not([type=radio]) {
  width: 100%;
}
.ui-dialog .tab-content .charsheet .input-label--dual > .slash {
  line-height: 0rem;
  font-weight: normal;
}
.ui-dialog .tab-content .charsheet .headed-textarea {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  grid-column: 1/-1;
}
.ui-dialog .tab-content .charsheet .headed-textarea :not(textarea):not(.adaptive) {
  justify-self: start;
}
.ui-dialog .tab-content .charsheet .headed-textarea .headed-textarea__header {
  grid-area: initial;
}
.ui-dialog .tab-content .charsheet .adaptive {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "content";
  position: relative;
}
.ui-dialog .tab-content .charsheet .adaptive > * {
  grid-area: content;
}
.ui-dialog .tab-content .charsheet .adaptive > span {
  opacity: 0;
  z-index: -10;
  border-width: 1px 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  box-sizing: border-box;
  text-transform: initial;
  border-radius: 0px;
}
.ui-dialog .tab-content .charsheet .adaptive--text {
  min-height: 4rem;
}
.ui-dialog .tab-content .charsheet .adaptive--text__span {
  white-space: pre-wrap;
  padding: 2px;
}
.ui-dialog .tab-content .charsheet .adaptive--text__textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.ui-dialog .tab-content .charsheet .adaptive--text__textarea,
.ui-dialog .tab-content .charsheet .adaptive--input__input {
  position: absolute;
}
.ui-dialog .tab-content .charsheet .adaptive--input__input {
  width: 100%;
}
.ui-dialog .tab-content .charsheet .adaptive--input__span {
  padding: 2px;
  min-height: 1.5rem;
}
.ui-dialog .tab-content .charsheet .repitem > input:not([type=checkbox]) {
  width: 100%;
}
.ui-dialog .tab-content .charsheet .repitem .headed-textarea,
.ui-dialog .tab-content .charsheet .repitem .description {
  grid-column: 1/-1;
}
.ui-dialog .tab-content .charsheet .repcontainer {
  display: grid;
  gap: var(--normal-gap);
}
.ui-dialog .tab-content .charsheet .repeating-container {
  display: grid;
  grid-template-areas: "header";
  align-self: start;
}
.ui-dialog .tab-content .charsheet .repeating-container > .header {
  grid-area: header;
}
.ui-dialog .tab-content .charsheet .repeating-container:is(:hover, :focus-within, :focus) .repcontrol-button {
  opacity: 1;
}
.ui-dialog .tab-content .charsheet .repcontrol-button {
  padding: 5px 7px;
  background-color: rgba(220, 220, 220, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 4px black;
  border-width: 0;
  transition-property: box-shadow, backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  backdrop-filter: blur(1px);
  overflow: hidden;
  grid-area: header;
  align-self: center;
  text-transform: none;
  opacity: 0;
  transition-property: opacity, background-color;
  transition-duration: var(--revealTime);
}
.ui-dialog .tab-content .charsheet .repcontrol-button:is(:hover, :focus) {
  background-color: rgba(133, 133, 133, 0.5019607843);
  box-shadow: 0 4px 6px black;
  backdrop-filter: blur(2px);
}
.ui-dialog .tab-content .charsheet .repcontrol-button:active {
  background-color: #858585;
  box-shadow: 0 1px 2px black;
  backdrop-filter: blur(0px);
}
.ui-dialog .tab-content .charsheet .repcontrol-button ~ .repcontrol {
  display: none;
}
.ui-dialog .tab-content .charsheet .repcontrol_move {
  display: none;
}
.ui-dialog .tab-content .charsheet .repcontrol-button--add {
  justify-self: start;
}
.ui-dialog .tab-content .charsheet .repcontrol-button--add:before {
  font-family: pictos;
  content: "&";
}
.ui-dialog .tab-content .charsheet .repcontrol-button--edit {
  justify-self: end;
}
.ui-dialog .tab-content .charsheet .repcontrol-button--edit:before {
  font-family: pictos;
  content: "p";
}

.test {
  display: none;
}