@use 'Mixins/_systemplaceholders.scss';

//Sets the font-size to be used by rem unit calls
html{
  font-size: 13px;
}
//Sets the bio/charsheet/a&a tab container to be sticky and float at the top
ul.nav-tabs.nav{
  position:sticky;
  top:0;
  background-color:white;
  z-index:9999;
  margin-bottom:0px;
}
.nav-tabs li a{
  font-family:var(--midHeaderFont);
  padding:{
    top: 18px;
    bottom:15px;
  };
  &[data-tab='charsheet']{
    background-image: url(https://s3.amazonaws.com/files.d20.io/images/259063058/V4Hm27FqfgBujU8bI74Xaw/original.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding:{
      left:50px;
      right:12px;
    };
  }
}
/*
Roll Template
#rolltemplate
*/
.sheet-rolltemplate-rapidfire{
  @extend %font-vars;
	--fumbleColor: #db1a1a;
	--critColor: #02a98d;
  --importantColor:blue;
	margin:{//ensures that the template fills the chat window
		left: -40px;
		right: -5px;
	}
  @extend %defaultStyles;
  a[href^='!'],
  a[href^='~']{
    font-family: var(--topHeaderFont);
    background-color: transparent;
    color: black;
    font-weight: 700;
    padding: 0;
  }
  h1,h2,h3,h4,h5,a{
    white-space: pre-wrap;
  }
	&:not(:first-child){//Moves the template to accomodate the sender tag
		margin-top:10px;
	}
  .sheet-content{
    @extend %grid;
    overflow:hidden;
  }
	> .sheet-template{
		overflow:hidden;
    --hexColor:#000000;
		span:not(.inlinerollresult){
			font-size:13px;
		}
	}
	.inlinerollresult{
    font-size:1.5rem;
		&[title*="[computed value]"],
		&[original-title*="[computed value]"]{
			pointer-events: none;
		}
		&,
		&.fullcrit,
		&.fullfail,
		&.importantroll{
			border: none;
			background-color: transparent;
		}
		&.fullcrit{
			color:var(--critColor);
		}
		&.fullfail{
			color:var(--fumbleColor);
		}
		&.importantroll{
			color:var(--importantColor);
		}
	}
}