//- Changelog v1.1
  - Stat bonuses now apply (e.g body_mod)
  - Infrastructure changed for improved maintainability
  - Fixed bug with drone structure handling
include scaffold/_htmlelements.pug
include scaffold/_rolltemplate mixins.pug
include Mixins/_Sheet Mixins.pug
- let templateName = 'rapidfire';
+hidden({name:'template_start',value:`&{template:${templateName}} {{footer=@{character_name}}} {{character_id=@{character_id}}} {{system=@{system}}}`})
+hidden({name:'collapsed',value:''})
+hidden({name:'system',value:'remnants'})
//-Rolltemplate definitions
+rolltemplate(templateName)
+script()
  include scaffold/utility.js
  //- The below declarations import variables from the pug file and mixins into the sheetworker code
  each content,prop in varObjects
    |
    |const !{prop} = !{JSON.stringify(content)};
  |
  |
  include Javascript/variables.js
  include scaffold/attribute_proxy.js
  include scaffold/accessSheet.js
  include scaffold/parse_cascade.js
  include scaffold/sheetworker_aliases.js
  //- All additional javascript files should start here
  include Javascript/setupfunctions.js
  include Javascript/clickfunctions.js
  include Javascript/rollfunctions.js
  include Javascript/initialchangefunctions.js
  include Javascript/triggeredfunctions.js
  include Javascript/calculators.js
  include Javascript/updaters.js
  //- All additional javascript files should end here
  include scaffold/listeners.js