include _mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    +generalStyleSheets('js')
    link(rel="stylesheet", href="/docs/assets/css/prettify.css")
    link(rel="stylesheet", href="/docs/assets/css/sons-of-obsidian.css")
    link(rel="stylesheet" href="/docs/assets/css/codeDisplay.css")
    title K-Scaffold Sheetworker
  body
    +pageHead('Sheetworker Documentation')
      li
        a(href="#intro-header") 
      li
        a(href="#")#doc-link
      li
    main#doc-target
      +mainSection('js library','intro-header')
        p JS Library Intro Placeholder
    aside
      h2 Table of Contents
      nav
        ul#toc-target
    +pageFooter
    script(src="/docs/assets/javascript/prettify.js")
    script(src="/docs/assets/javascript/parser.js")