article#character.character
  include sections/_header.pug
  include sections/_attributes.pug
  include sections/_defenses.pug
  include sections/_weapons.pug
  include sections/_armor.pug
  include sections/_lineage.pug
  include sections/_archetype.pug
  include sections/_equipment.pug
  include sections/_spells.pug