+button({name:'roll button',value:'&{template:default} {{name=Test roll}}'})
+action({
  name:'action button',
  trigger:{triggeredFuncs:['actionTrigger']}
})
+roller({
  name:'roller',
  trigger:{triggeredFuncs:['rollFunc']}
})