h1, h5, header + nav ul:first-child, h4, h1 + .subhead, h3, h2 {
  text-transform: capitalize;
  font-family: Aldrich;
}

h2 {
  font-size: 1.75rem;
}

h1 + .subhead, h3 {
  font-size: 1.5rem;
}

header + nav ul:first-child, h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

body {
  font-size: 1rem;
  font-family: "Exo 2";
  color: var(--primaryTextColor);
}

header, header + nav, footer {
  padding: var(--mainPadding);
  background-color: var(--hfBackground);
}
header span, header + nav span, footer span, header p, header + nav p, footer p, header h1, header + nav h1, footer h1, header h2, header + nav h2, footer h2, header h3, header + nav h3, footer h3, header h4, header + nav h4, footer h4, header h5, header + nav h5, footer h5 {
  color: var(--hfColor);
}
header a:not(:hover), header + nav a:not(:hover), footer a:not(:hover) {
  color: var(--hfColor);
}

header, header + nav, footer {
  display: grid;
}

:root {
  --gap:1rem;
  --half-gap:calc(var(--gap) / 2);
  --tiny-gap:calc(var(--gap) / 4);
  --big-gap:calc(var(--gap) * 2);
  --huge-gap:calc(var(--gap) * 4);
  --mainPadding:var(--half-gap) var(--gap);
  --primaryBackground:white;
  --secondaryBackground:#eeeeee;
  --hfBackground:rgb(24, 24, 26);
  --primaryTextColor:rgb(24, 24, 26);
  --secondaryTextColor:rgb(24, 24, 26);
  --primaryLinkColor:rgb(87, 186, 208);
  --secondaryLinkColor:rgb(57, 17, 120);
  --roll20LinkColor:#ed008c;
  --hfColor:rgb(210, 243, 246);
  --sectionBorder:1px solid black;
  --sectionShadow:1 1 black;
  --scrollPad: 40px;
}

html {
  font-size: 16px;
  scroll-padding-top: var(--scrollPad);
}

body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primaryLinkColor);
  font-weight: 700;
  transition-property: color, filter;
  transition-duration: 500ms;
}
a[href*="roll20.net"] {
  color: var(--roll20LinkColor);
}
a:hover {
  filter: brightness(0.8);
}

header {
  grid-template-columns: auto;
  grid-template-areas: "pagehead" "subhead";
  align-items: start;
}
header + nav {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--half-gap) var(--gap);
  align-items: end;
}
header + nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--half-gap);
  justify-content: end;
  flex: 1 1 auto;
}
header + nav ul:first-child {
  justify-content: start;
}
header + nav ul > li {
  display: flex;
  gap: var(--half-gap);
}
header + nav ul > li:not(:last-child):after {
  content: "|";
  color: var(--hfColor);
}
header + nav ul a {
  text-decoration: none;
}

h1 {
  grid-area: pagehead;
  font-size: 2.25rem;
}
.subhead {
  grid-area: subhead;
}

[hidden] {
  display: none;
}

main {
  padding: var(--mainPadding);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: var(--primaryBackground);
  position: relative;
}
main > section {
  grid-column: 1;
  display: grid;
  grid-template-rows: [header-start] auto [border-start] auto [header-end content-start] 1fr [content-end border-end];
  grid-template-columns: [header-start border-start content-start] 1fr [header-end content-end border-end];
}
main > section > :first-child {
  grid-area: header;
  border: var(--sectionBorder);
  justify-self: start;
  background-color: var(--primaryBackground);
  z-index: 10;
  padding: var(--tiny-gap) var(--half-gap);
  margin-left: var(--big-gap);
}
main > section > .content {
  grid-area: content;
  padding: var(--half-gap);
  display: flex;
  flex-direction: column;
  gap: var(--half-gap);
}
main > section > .content > h3 {
  margin-top: var(--half-gap);
}
main > section > .border {
  grid-area: border;
  border: var(--sectionBorder);
  background-color: var(--secondaryBackground);
}

.no-capital {
  text-transform: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex--space-evenly {
  justify-content: space-evenly;
}

.social-icon {
  width: 20px;
}

.snippet {
  color: red;
}

code {
  font-family: "Fira Code";
}