section(aria-labelledby='armor-header')#armor.armor.paper-background.repeating-container
  h3(data-i18n='armor and shield')#armor-header
  //- See the _weapons.pug file for a full comment on what's going on here.
  //- We've added a trigger property to this fieldset so that when an armor item is removed, reduction_value and defense_total will be updated.
  +customControlFieldset({name:'armor',trigger:{affects:['reduction_value','defense_total']}})
    +collapse
    //- This checkbox will mark this piece of armor or shield as being equipped or not, and will trigger a recalc of the defense score and reduction value.
    .span-all.name
      +checkbox({name:'equipped',value:1,trigger:{affects:['defense_total','reduction_value']}})
      +text({name:'name',class:'underlined','data-i18n-placeholder':'armor name'})
    +input-label({
      label:'reduction',
      inputObj:{name:'reduction',type:'number',class:'underlined',trigger:{affects:['reduction_value']}},
      spanObj:{role:'heading','aria-level':5}
    })
    +input-label({
      label:'defense',
      inputObj:{name:'defense',type:'number',class:'underlined',trigger:{affects:['defense_total']}},
      spanObj:{role:'heading','aria-level':5}
    })
    each name in ['traits','aspects']
      +input-label({
        label:name,
        inputObj:{name,type:'text',class:'underlined'},
        divObj:{class:'span-all expanded'},
        spanObj:{role:'heading','aria-level':5}
      })
    .headed-textarea.description.expanded.span-all
      +h5({'data-i18n':'description'})
      +adaptiveTextarea({name:'description',class:'underlined'})