section#character-header
  img(src="https://s3.amazonaws.com/files.d20.io/images/269781785/NLg9vcFOn6o_0dLEFcTDLg/original.png").header__image
  .character-details.paper-background
    +input-label('name',{name:'character name',class:'underlined',type:'text'},null,{role:'heading','aria-level':5})
    +input-label('level',{name:'level',class:'underlined',type:'number'},null,{role:'heading','aria-level':5})
    +input-label('xp',{name:'experience',class:'underlined',type:'number'},null,{role:'heading','aria-level':5,class:'uppercase'})
    +input-label('lineage',{name:'lineage',class:'underlined',type:'text'},null,{role:'heading','aria-level':5})
    +input-label('archetype',{name:'archetype',class:'underlined',type:'text'},null,{role:'heading','aria-level':5})
    +input-label('profession',{name:'profession',class:'underlined',type:'text'},null,{role:'heading','aria-level':5})