section(aria-labelledby='weapon-header')#weapons.weapons.paper-background.repeating-container
  h3(data-i18n='weapons')#weapon-header
  //- We'll put the character's generic attack modifier here. It will affect the attack stat of each weapon.
  +input-label({
    label:'attack modifier',
    inputObj:{name:'attack modifier',type:'number',class:'underlined',trigger:{affects:['repeating_weapon_$X_attack']}},
    divObj:{role:'heading','aria-level':5}
  })
  //- The fieldset that Roll20 will generate our weapon repeating section. The mixin will handle the naming of the repeating section to `repeating_weapon`
  +customControlFieldset({name:'weapon'})
    //- A checkbox that will allow users to collapse the entry down to just the stats.
    //- This mixin is defined in our sheet specific mixins file `_sheetmixins.pug` so that we don't have to wrtie the same checkbox definition for all of our fieldsets
    +collapse
    .span-all.name.expanded-container
      +roller({name:'roll',class:'glyph-only',trigger:{listenerFunc:'rollAttack'}})
      +text({name:'name',class:'underlined','data-i18n-placeholder':'weapon name',trigger:{affects:['repeating_weapon_$x_attack']}})
      +select({name:'type',class:'underlined expanded'})
        +option({value:'','data-i18n':'choose',trigger:{affects:['repeating_weapon_$x_attack']}})
        each value in attributes
          +option({value,'data-i18n':value})
    //- The total attack stat. It's set to `readonly` so that only our sheetworkers will edit this. We'll write the calcAttack function later on in today's tutorial
    +input-label({
      label:'attack',
      inputObj:{name:'attack',type:'number',class:'underlined',readonly:'',trigger:{calculation:'calcAttack'}},
      spanObj:{role:'heading','aria-level':5}})
    //- An input so players can note that a weapon has bonus to attacks (or penalties). It will affect the attack stat. We've added the `expanded` class to the divObj so that this field will get hidden when the repeating row is collapsed. This will allow us to save valuable vertical space.
    +input-label({
      label:'bonus',
      inputObj:{name:'attack bonus',type:'number',class:'underlined',trigger:{affects:['repeating_weapon_$X_attack']}},
      divObj:{class:'expanded'},
      spanObj:{role:'heading','aria-level':5}
    })
    //- Several text inputs for noting various aspects of the weapon
    each name,index in ['damage','range','traits','aspects']
      - const divObj = {class:''};
      if index > 1
        - divObj.class+='span-all';
      if index > 0
        - divObj.class+=' expanded';
      +input-label({
        label:name,
        inputObj:{name,type:'text',class:'underlined',trigger:{affects:['repeating_weapon_$x_attack']}},
        divObj,
        spanObj:{role:'heading','aria-level':5}})
    .headed-textarea.description.expanded
      +h5({'data-i18n':'description'})
      +adaptiveTextarea({name:'description',class:'underlined',trigger:{affects:['repeating_weapon_$x_attack']}})