/* Social icon font created at icomoon.io/app */
@font-face {
  font-family: 'Social-Icons';
  src:
    url('fonts/Social-Icons.ttf?ynbumv') format('truetype'),
    url('fonts/Social-Icons.woff?ynbumv') format('woff'),
    url('fonts/Social-Icons.svg?ynbumv#Social-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.social-icon {
  font-family: 'Social-Icons', monospace;
  font-size:17px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord-icon:before {
  content: "\e900";
}
.icon-linkedin-icon:before {
  content: "\e901";
}
.icon-patreon-icon:before {
  content: "\e902";
}
.icon-twitter-icon:before {
  content: "\e903";
}
