mixin socialIcons
  a(href="https://discord.gg/vYmvFBZQsM").social-icon discord
  a(href="https://www.linkedin.com/in/scott-casey-20210398/").social-icon linkedin
  a(href="https://www.patreon.com/kurohyoustudios?fan_landing=true").social-icon patreon
  .flex.flex-column
    span(style="justify-self:center;") Scott Casey | Kurohyou Studios
    span(style="justify-self:center;") #{siteDate}
  a.material-icons(title="Email" href="mailto:scaseydv@gmail.com?subject=Inquiring about your work") email
  a(href="https://github.com/Kurohyou").social-icon github
  a(href="https://twitter.com/Kurohyoustudios").social-icon twitter