include ../../k-scaffold/_k.pug

+tabs({name:"sheet-tabs",defaultActiveTab:'background'})(class="outer")
  span before the header
  +tab({})(class="tab-vertical")
    +input-label({
      inputObj:{name:'test',type:'text'},
      spanObj:{'data-i18n':'a test label'},
    })
    span(style="background: white;") Tab 1 content
  +tab({name:"background"})(class="tab_horizontal")
    span(style="background: white;") Tab background content
    +adaptiveInput({name:'test adaptive',type:'number',class:'test-class'})
  +tab({name:"history", button:{class:"custom-button"}})(class="tab_horizontal")
    span(style="background: white;") Tab history content
    +select({name:'test select',trigger:{affects:['test']}})
      each n in [1,2,3,4]
        - const nObj = {value:n,'data-i18n':'one'};
        if n === 1
          - nObj.selected = '';
        +option(nObj)
  +tab({name:"inventory", container:"span"})(class="tab_horizontal")
    - setSystemPrefix('prefixed');
    +text({name:'test for pre'})
    +fieldset({name:'section'})
      +number({name:'bonus'})
      +roller({name:'do it'})

    // Custom control fieldset test
    +customControlFieldset({
      name:'custom'
    })
      +text({name:'name'})
    +textarea({name:'description'})
    +roller({name:'external'})
    span(style="background: white;") Tab inventory content
+kscript