//- See _attributes.pug for info on these IDs and classes
section#defenses.defenses.paper-background
  +input-label({
    label:'defense',
    inputObj:{name:'defense',type:'number',class:'underlined'},
    spanObj:{role:'heading','aria-level':4}
  })
  +input-label({
    label:'reduction value',
    inputObj:{name:'reduction value',type:'number',class:'underlined'},
    spanObj:{role:'heading','aria-level':4}
  })
  //- The next few lines relate to the endurance. We're going to adjust the endurance format from what it is on the paper sheet
  label(for='endurance' class='endurance-label' data-i18n='endurance',role='heading' aria-level=4)
  .boxed.span-2
    +number({name:'endurance',id:'endurance',value:0})
    span.slash /
    +number({name:'endurance max',trigger:{affects:['defence'],triggeredFuncs:['calcHealth']}})
  +roller-label({
    inputObj:{name:'saving throw',type:'number',class:'underlined'},
    buttonObj:{name:'saving throw',role:'heading','aria-level':4,'data-i18n':'saving throw',trigger:{listenerFunc:'initiateRoll'}}
  })
  //- We're removing the attack modifier summary here because we'll incorporate it directly into the weapons section.
  +input-label({
    label:'myth points',
    inputObj:{name:'myth points',type:'number',class:'underlined'}
  })