%generalHeader{
  text-transform:capitalize;
  font-family:Aldrich;
}
%h2{
  @extend %generalHeader;
  font-size:1.75rem
}
%h3{
  @extend %generalHeader;
  font-size:1.5rem;
}
%h4{
  @extend %generalHeader;
  font-size:1.25rem;
}
%h5{
  @extend %generalHeader;
  font-size:1rem;
}
%normalText{
  font-size:1rem;
  font-family:"Exo 2";
  color:var(--primaryTextColor);
}
%hfStyle{
  padding:var(--mainPadding);
  background-color:var(--hfBackground);
  span,p,h1,h2,h3,h4,h5{
    color:var(--hfColor);
  }
  a:not(:hover){
    color:var(--hfColor);
  }
}
%hfGeneral{
  @extend %hfStyle;
  display:grid;
}