@use "_mixins";
.arguments-container{
  display:grid;
  grid-template-columns:repeat(2,auto) 1fr;
  gap:var(--half-gap);
  > :first-child{
    grid-column:1 / -1;
  }
  > p{
    grid-column:3;
  }
}
pre.prettyprint{
  padding:var(--tiny-gap);
  white-space: pre-wrap;
  font-family:"Fira Code", monospace;
  border:2px inset var(--secondaryBackground);
}
body{
  display:grid;
  grid-template-columns:1fr auto;
  grid-template-rows:repeat(4,auto);
  grid-template-areas:
  "header header"
  "nav    nav"
  "main   aside"
  "footer aside";
}
header{
  grid-area:header;
  + nav{
    grid-area:nav;
  }
}
main{
  grid-area:main;
}
footer{
  grid-area:footer;
}
.footer{
  @extend %hfGeneral;
  grid-column:footer-start / aside-end;
  grid-row:footer-start / footer-end;
}
aside{
  position:sticky;
  top:35.2px;
  grid-area:aside;
  align-self:start;
  max-height:calc(100vh - 35.2px);
  overflow:auto;
  padding:var(--half-gap);
  margin-left:var(--half-gap);
  background-color:var(--hfBackground);
  box-sizing:border-box;
  > :first-child{
    display:block;
    text-align:right;
    color:var(--hfColor);
  }
  > nav{
    > ul{
      display:flex;
      flex-direction:column;
      gap:var(--tiny-gap);
      > li{
        text-align:right;
      }
    }
  }
  a:not(:hover){
    color:var(--hfColor);
  }
}