include _mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    +generalStyleSheets('index')
    title K-Scaffold
  body
    +pageHead
      li 
        a(href="#about-header") What is it?
      li 
        a(href="#start-header") Getting Started
      li 
        a(href="#use-header") Using the Scaffold
      //-li 
        a(href="#change-header") Changelog
    main
      +mainSection('What is it?','about-header')
        p Building character sheets is difficult. There's thousands of lines of html, CSS, and Javascript to write and keep track of. The sheet author community has switched to using PUG to write the majority of html code because it simplifies the HTML coding part of creating a sheet. PUG allows us to do many powerful things, including creating reusable bits of code for things that we need frequently.
        p The K-Scaffold provides a comprehensive library of PUG mixins for frequently used generic HTML constructions. It also provides a powerful link between your PUG code and the javascript sheetworkers that will power your sheet by allowing you to link attributes to functions directly in the PUG that creates them.
      +mainSection('Getting Started','start-header')
        p To get started with the K-scaffold, follow the steps below
        ol
          li Download the most recent version of the scaffold from the #[a(href="https://github.com/Kurohyou/Roll20-Snippets/releases") releases page].
          li Copy the `scaffold` directory into the same directory as your main pug file.
          li Add #[pre #[code include scaffold/_kpug.pug]] to the top of your primary PUG file.
          li Start coding!
      +mainSection('Using the Scaffold','use-header')
        p The K-scaffold has two primary components; PUG mixins and functions, and Javascript functions.
        h3 K-Scaffold PUG
        p To use the K-scaffold to write the html of your sheet, you will write normal PUG, but using a comprehensive library of components that are frequently used on character sheets. These range from simple mixin versions of standard html elements inputs, textareas, and selects to more complex constructions that generate Roll20 elements or workarounds for limitations of Roll20 character sheets. See the #[a(href=`pug.html?v=${siteVersion}`) K-scaffold PUG documentation] for full details on the mixins and functions available.
        h3 K-Scaffold Javascript
        p To use the K-scaffold to write your sheetworkers, you will write normal sheetworkers, but using a library of utility functions and sheetworker aliases supercharge the standard sheetworkers. See the #[a(href=`js.html?v=${siteVersion}`) K-scaffold Javascript documentation] for full details on the functions and variables available.
      //-+mainSection('Changelog','change-header')
    +pageFooter
    +genericScripts