//- Styling for items that need the pictos fonts
@mixin pictos{
  font-family: pictos;
  text-transform: none;
}
@mixin pictosCustom{
  font-family: pictos custom;
  text-transform: none;
}
@mixin pictos3{
  font-family: pictos three;
  text-transform: none;
}

@mixin diceD4{
  font-family: dicefontd4 !important;
  text-transform: none !important;
}
@mixin diceD6{
  font-family: dicefontd6 !important;
  text-transform: none !important;
}
@mixin diceD8{
  font-family: dicefontd8 !important;
  text-transform: none !important;
}
@mixin diceD10{
  font-family: dicefontd10 !important;
  text-transform: none !important;
}
@mixin diceD12{
  font-family: dicefontd12 !important;
  text-transform: none !important;
}
@mixin diceD20{
  font-family: dicefontd20 !important;
  text-transform: none !important;
}
@mixin diceD30{
  font-family: dicefontd30 !important;
  text-transform: none !important;
}

@mixin r20FontClasses{
  .sheet-pictos,
  .pictos{
    @include pictos;
  }
  .pictos3,
  .sheet-pictos3{
    @include pictos3;
  }
  .pictoscustom,
  .sheet-pictoscustom{
    @include pictosCustom;
  }
  .d4,
  .sheet-d4{
    @include diceD4;
  }
  .d6,
  .sheet-d6{
    @include diceD6;
  }
  .d8,
  .sheet-d8{
    @include diceD8;
  }
  .d10,
  .sheet-d10{
    @include diceD10;
  }
  .d12,
  .sheet-d12{
    @include diceD12;
  }
  .d20,
  .sheet-d20{
    @include diceD20;
  }
  .d30,
  .sheet-d30{
    @include diceD30;
  }
}