section#character-header
  img(src="https://s3.amazonaws.com/files.d20.io/images/269781785/NLg9vcFOn6o_0dLEFcTDLg/original.png").header__image
  .character-details.paper-background
    +input-label({
      label:'name',
      inputObj:{name:'character name',class:'underlined',type:'text'},
      spanObj:{role:'heading','aria-level':5}
    })
    +input-label({
      label:'level',
      inputObj:{name:'level',class:'underlined',type:'number'},
      spanObj:{role:'heading','aria-level':5}
    })
    +input-label({
      label:'xp',
      inputObj:{name:'experience',class:'underlined',type:'number'},
      spanObj:{role:'heading','aria-level':5,class:'uppercase'}
    })
    +input-label({
      label:'lineage',
      inputObj:{name:'lineage',class:'underlined',type:'text'},
      spanObj:{role:'heading','aria-level':5}
    })
    +input-label({
      label:'archetype',
      inputObj:{name:'archetype',class:'underlined',type:'text'},
      spanObj:{role:'heading','aria-level':5}
    })
    +input-label({
      label:'profession',
      inputObj:{name:'profession',class:'underlined',type:'text'},
      spanObj:{role:'heading','aria-level':5}
    })